<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value="NYJENKINS004+jenkins" />
    <add key="Password" value="*" />
    <add key="Address" value="NYJENKINS004.ameclientsdev.sfdev.local" />
    <add key="Port" value="22" />
    <add key="ForwardedPort" value="1337" />
    <add key="PrivateKey" value="" />
    <add key="Passphrase" value="" />
  </appSettings>
</configuration>