<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Username" value="" />
    <add key="Password" value="*" />
    <add key="Address" value="" />
    <add key="Port" value="22" />
    <add key="FPort" value="1234" />
    <add key="PK" value="no key" />
  </appSettings>
</configuration>